@import "../../variables.scss";
.o6{
    width: 100%;
    height: 330px;
    background-color:$blackk;
   // color:$white;
}
.o7{
    font-family:Playfair Display;
    font-style: italic;
    font-size: 20px;
}
.o8{
    font-weight: bold;
    font-size: 42px;
    margin-top: -0.9rem;

}
.o9{
    margin-top:85px;
}