<div class="container">
  <div style="text-align:center ">
      <h1>News & Updates</h1>
      <div class="col-sm-4 col-xs-12 text-center">
          <h2>New Vintage</h2>
          <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati.</p>
          <br><br/>
          <br><br/>
          <br><br/>
      </div>
      <div class="col-sm-4 col-xs-12 text-center">
          <h2>From Plan to Execution</h2>
          <p>Mauris sodales in enim sit sodales dolor, placerat ultrices ut pede justo odio. In accumsan morbi at, mi luctus nullam volutpat facilisis cursus sed quis autem vel eum iure.
          </p>
          <br><br/>
          <br><br/>
          <br><br/>
      </div>

      <div class="col-sm-4 col-xs-12 text-center">
          <h2>New Team Member</h2>
          <p>Tincidunt mauris sit suspendisse. Scelerisque lorem nec, tempus quis nullam nec gravida, convallis ac, nascetur id eget lectus nibh quam ad, in magna mi est adipiscing donec dui.
          </p>
          <br><br/>
          <br><br/>
          <br><br/>
      </div>

  </div>
</div>