@import "../../variables.scss";
.o4{
    font-weight: bold;
    font-size: 40px;
    font-family: Montserrat;
    line-height: 1;
    color:$black;
    padding-top:90px;
    padding-bottom:20px;
    background-color: $white;
}
.o5{
    padding: 0 0;
    margin-top: -0.8rem;
}