
        @import "../../variables.scss";
        .f1{
            font-size: 16px;
            color:$white;
            margin-left: 90px;
        }
        .f2{
            font-size:14px ;
            color:$grey;
            margin-left: 90px;
        }
        footer{
            background-color: $blackk;
        }
        

        .fo{
            width: 100%;
            margin-top: -770px;
        }
        .foo{
            width: 100%;
            margin-top: -900px;
        }
        