<footer>
  
          <div class="container " >
              <div class="row">
                  <div class="col-sm-3 ">
                      <h2 class="f1">ABOUT</h2>
                      <p class="f2">There are many multi-purpose templates; there are very few that have a strong emphasis on design. Warhol comes with a multitude of carfully designed page layouts and purpose built content blocks that when pieced together create stunning, professional layouts. The possibilities are endless. Warhol is simple, elegent and powerful!</p>
                  </div>
                  <div class="col-sm-3">
                      <h2 class="f1">WARHOL NEWS</h2>
  
                      <p class="f2">Our New Los Angeles Office
                          27 JUL 2014</p>
                      <p class="f2">Tutorail-Hidden Gems of Sublime
                          02 JUN 2014</p>
                      <p class="f2">Design Rules- Getting Back to Basics
                          15 MAY 2014</p>
                      <p class="f2">New Team Member- jason Adams
                          15 MAY 2014</p>
                  </div>
                  <div class="col-sm-3">
                      <h2 class="f1">THE ARCHIEVES</h2>
                      <p class="f2">February 2016
  
                      </p>
  
  
                      <p class="f2">December 2015
  
                      </p>
  
                      <p class="f2">november 2014
  
                      </p>
  
                      <p class="f2">April 2014
  
                      </p>
  
                      <p class="f2">February 2014
  
                      </p>
                      <p class="f2">January 2014
  
                      </p>
                  </div>
  
                  <div class="col-sm-3">
                      <h4 class="f1">Never miss updates</h4>
                      <p class="f2">Want to be notified when we launch a new template or an udpate. Just sign up and we'll send you a notification by email.</p>
  
  
                  </div>
              </div>
          </div>
          <img src="em.png"  class="fo">
          <img src="fff.png"  class="foo">
      </footer>