<div class="row">
  <div class="col-sm-12 col-xs-12 text-center o6">
      <div class="row">
          <div class="col-sm-4 col-xs-12 text-center o9">
              <p class="o7">Projects Completed</p>
              <p class="o8">1,234+</p>
              <p>Since Creation in 2013</p>
          </div>
          <div class="col-sm-4 col-xs-12 text-center o9">
              <p class="o7" >Awards & Mentions</p>
              <p class="o8">1,640+</p>
              <p>Best Design/Developer</p>
          </div>
          <div class="col-sm-4 col-xs-12 text-center o9">
              <p class="o7">Global Rank</p>
              <p class="o8">645K</p>
              <p>Entrepreneur Magazine</p>
          </div>
      </div>
  </div>
</div>